body{
    background-color: rgba(0, 2, 7, 0.932);
    color: #ffffff;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    display: inline;
}

.nav{
    margin-top: 25px;
    margin-right: 180px;
    margin-bottom: -10px;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
    display: block;
}

.about{
    color: white;
    font-weight: 800;
}

li {
    float: right;
    margin-top: 40px;
    margin-right: 35%;
    font-size: larger;
}
  
a{
    display: inline;
    padding: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#navigation a:active {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#DFE7FA), to(#FFF));
    border-bottom-width:2px;
}

a:hover{
    color: whitesmoke;
}

hr.rule{
    border: 0.05px solid grey;
    float: right;
    width: 62.5%;
    margin-right: 3%;
    margin-top: 25px;
    color:rgba(16, 219, 255, 0.123);
    border-radius: 10px;
}

.dp {
    border-radius: 500%;
    width: 300px;
    height: 300px;
    margin-left: 7%;
    margin-top: 5%;
}

.intro{
    margin-left: 5%;
    margin-top: 5px;
    width: 300px;
}

.boxed1{
    background-color: rgba(16, 219, 255, 0.123);
    border: 1px solid #118ab2;
    margin-top: 5px;
    border-radius: 2px;
    color: #118ab2;
    padding: 17px 97px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   transition: all 0.5s;
}

.boxed2{
    background-color: rgba(16, 219, 255, 0.123);
    border: 1px solid #118ab2;
    margin-top: 5px;
    border-radius: 2px;
    color: #118ab2;
    padding: 17px 102.5px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 13px;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   transition: all 0.5s;
}

.boxed3{
    background-color: rgba(16, 219, 255, 0.123);
    border: 1px solid #118ab2;
    margin-top: 20px;
    border-radius: 2px;
    color: #118ab2;
    padding: 17px 106.2px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    min-width: 300px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   transition: all 0.5s;
}

a.boxed1:hover{
    background-color: rgba(16, 219, 255, 0.795);
    color: white;
    transition: 0.5s;
}

a.boxed2:hover{
    background-color: rgba(16, 219, 255, 0.795);
    color: white;
    transition: 0.5s;
}

a.boxed3:hover{
    background-color: rgba(16, 219, 255, 0.795);
    color: white;
    transition: 0.5s;
}

.leftpart{
    display: inline;
    float: left;
    margin-left: 20px;
    margin-top: -30px;
}

.rightpart{
    display: inline;
    float: left;
    margin-left: 8.5%;
    max-width: 61.5%;
    margin-right: 55px;
}

.para{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
}

.socialimage{
    width: 25px;
    height: 25px;
    vertical-align: -7px; 
}

.biggestbox{
    width: 1188px;
    height: 500%;
    border: 0px solid green;
    padding: 10px;
    margin-left: 10px;
    align-items: center;
}

.footer{
    color: whitesmoke;
    text-align: center;
    margin-bottom: auto;
}

hr.footline{
    margin-top: .000000000000000000001%;
    border: 0.05px solid grey;
    width: 100%;
}

.head{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0%;
    margin-top: 2%;
    align-items: right;
}

.foot-para{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    align-items: center;
}

.links{
    color: #118ab2;
    animation: 0.5s;
    padding: 0%;
}

.links:hover{
    color: grey;
}

.boxed4{
    background-color: rgba(16, 219, 255, 0.123);
    border: 1px solid #118ab2;
    align-items: center;
    border-radius: 3px;
    color: #118ab2;
    padding: 17px 96.2px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    min-width: 300px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   transition: all 0.5s;
}

.resume-para{
    margin-top: 10%;
}

a.boxed4:hover{
    background-color: rgba(16, 219, 255, 0.795);
    color: white;
    transition: 0.5s;
}

.github-link{
    text-decoration: underline;
    padding: 0%;
}

.github-link:hover{
    text-decoration: none;
}

.question{
    margin-top: 3%;
    font-size: 20px;
    width: 650px;
    padding: 10px;
    border: 1px;
    border-style: double;
    border-radius: 10px;
    border-color: rgba(16, 219, 255, 0.795);
    padding-left: 10px;
    box-shadow: 20px 20px 50px rgba(0, 2, 7, 0.932);
}
.section-title
{
    font-size: 30px;
    display: inline-block;
}

.question-btn {
    float: right;
    display: inline;
    font-size: 1.5rem;
    margin-right: 10px;
    /* background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: var(--clr-gold);
    transition: var(--transition); */
    transition-duration: 100ms;
  }
  .question-btn:hover {
    transform: rotate(90deg);
  }

  /* .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
  } */
  
  /* .section-title p {
    margin-bottom: 0;
    letter-spacing: var(--spacing);
    color: var(--clr-grey-1);
  } */

/* 
  .btn {
      float: right;
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
  } */

  .question-btn {
      float: right;
      display: inline;
      color: #118ab2;
    background: transparent;
    border-color: rgba(16, 219, 255, 0.795);
    cursor: pointer;
    margin-top: 4%;
    margin-right: 1%;
    transition-duration: 100ms;
  }
  .question-btn:hover {
    color: black;
    background-color: #118ab2;
    
  }
  .question-text {
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    /* padding: 1rem 0 1.5rem 0; */
    /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
    margin-top: 1%;
    font-size: 15px;
    /* width: 10%; */
    /* padding: 1px; */
    /* border: 1px; */
    /* border-style: double; */
    border-radius: 10px;
    /* border-color: rgba(16, 219, 255, 0.795); */
    /* padding-left: 10px; */
    /* box-shadow: 20px 20px 50px rgba(0, 2, 7, 0.932); */
  }
  .question-text  {
    margin-bottom: 0;
  }
  .question-text {
    display: none;

  }
  .show-text .question-text {
    display: block;
  }
  .minus-icon {
    display: none;
  }
  .show-text .minus-icon {
    display: inline;
  }
  .show-text .plus-icon {
    display: none;
  }
  
  .show-text .question{
        /* display36333: 1px; */
        /* border: 1px; */
        /* border-style: double;
        border-radius: 10px;
        border-color: rgba(16, 219, 255, 0.795);
        padding-left: 10px;
        box-shadow: 20px 20px 50px rgba(0, 2, 7, 0.932); */
   
  }

  .show-text .question-btn{
    float: right;
    display: flex;
  }

  .stack-used{
      display: inline;
      margin-left: 10px;
      font-size: 20px;
      color: lightgray;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: black;
      border-radius: 10px;
      border-width: 1px;
      background-color: darkslategrey;
      padding: 3px 3px ;
      padding-right: 1px;
  }

  .links-project{
    color: #118ab2;
    animation: 0.5s;
    padding: 0%;
  }

  .links-project:hover{
      border-radius: 10px;
      background-color: rgba(16, 219, 255, 0.795);
      padding: 3px;
      color:white;
      transition-duration: 200ms;
  }