body{
    background-color: rgba(0, 2, 7, 0.932);
    color: #ffffff;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    display: inline;
}

.nav{
    margin-top: 25px;
    margin-right: 180px;
    margin-bottom: -10px;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
    display: block;
}

.about{
    color: white;
    font-weight: 800;
}

li {
    float: right;
    margin-top: 40px;
    margin-right: 35%;
    font-size: larger;
}
  
a{
    display: inline;
    padding: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

#navigation a:active {
    color: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#DFE7FA), to(#FFF));
    border-bottom-width:2px;
}

a:hover{
    color: whitesmoke;
}

hr.rule{
    border: 0.05px solid grey;
    float: right;
    width: 62.5%;
    margin-right: 3%;
    margin-top: 25px;
    color:rgba(16, 219, 255, 0.123);
    border-radius: 10px;
}

.dp {
    border-radius: 500%;
    width: 300px;
    height: 300px;
    margin-left: 7%;
    margin-top: 5%;
}

.intro{
    margin-left: 5%;
    margin-top: 5px;
    width: 300px;
}

.boxed1{
    background-color: rgba(16, 219, 255, 0.123);
    border: 1px solid #118ab2;
    margin-top: 5px;
    border-radius: 2px;
    color: #118ab2;
    padding: 17px 97px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   transition: all 0.5s;
}

.boxed2{
    background-color: rgba(16, 219, 255, 0.123);
    border: 1px solid #118ab2;
    margin-top: 5px;
    border-radius: 2px;
    color: #118ab2;
    padding: 17px 102.5px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 13px;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   transition: all 0.5s;
}

.boxed3{
    background-color: rgba(16, 219, 255, 0.123);
    border: 1px solid #118ab2;
    margin-top: 20px;
    border-radius: 2px;
    color: #118ab2;
    padding: 17px 106.2px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    min-width: 300px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   transition: all 0.5s;
}

a.boxed1:hover{
    background-color: rgba(16, 219, 255, 0.795);
    color: white;
    transition: 0.5s;
}

a.boxed2:hover{
    background-color: rgba(16, 219, 255, 0.795);
    color: white;
    transition: 0.5s;
}

a.boxed3:hover{
    background-color: rgba(16, 219, 255, 0.795);
    color: white;
    transition: 0.5s;
}

.leftpart{
    display: inline;
    float: left;
    margin-left: 20px;
    margin-top: -30px;
}

.rightpart{
    display: inline;
    float: left;
    width: 61.5%;
    margin-right: 0px;
    margin-left: 90px;
}

.para{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
}

.socialimage{
    width: 25px;
    height: 25px;
    vertical-align: -7px; 
}

.biggestbox{
    width: 1188px;
    height: 500%;
    border: 0px solid green;
    padding: 10px;
    margin-left: 10px;
    align-items: center;
}

.footer{
    color: whitesmoke;
    text-align: center;
    margin-bottom: auto;
}

hr.footline{
    margin-top: .000000000000000000001%;
    border: 0.05px solid grey;
    width: 100%;
}

.head{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0%;
    margin-top: 2%;
}

.foot-para{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    align-items: center;
}

.links{
    color: #118ab2;
    animation: 0.5s;
    padding: 0%;
}

.links:hover{
    color: grey;
}

.boxed4{
    background-color: rgba(16, 219, 255, 0.123);
    border: 1px solid #118ab2;
    align-items: center;
    border-radius: 3px;
    color: #118ab2;
    padding: 17px 96.2px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    min-width: 300px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   transition: all 0.5s;
}

.resume-para{
    margin-top: 10%;
}

a.boxed4:hover{
    background-color: rgba(16, 219, 255, 0.795);
    color: white;
    transition: 0.5s;
}

.github-link{
    text-decoration: underline;
    padding: 0%;
}

.github-link:hover{
    text-decoration: none;
}